.github
.idea
/node_modules
/blob-report/
/playwright/.cache/
/playwright-report/
/tests
/test-results/

.commitlintrc.json
.gitignore
.npmrc
.versionrc.json
commitlint.config.js
docker-compose.yml
jest.config.ts
rollup.config.ts
tsconfig.json
yarn.lock

Makefile
